@keyframes pulse {
  0% {
    transform: scaleX(1) scaleY(1);
    opacity: 0.3;
  }
  50% {
    transform: scaleX(1.1) scaleY(1.5);
    opacity: 0;
  }
  100% {
    transform: scaleX(1.1) scaleY(1.5);
    opacity: 0;
  }
}
@keyframes textInBottom {
  from {
    transform: translateY(2rem);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes textInLeft {
  from {
    transform: translateX(-6rem);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes cardFlip {
  0% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  50% {
    transform: rotateX(5deg) rotateY(90deg) rotateZ(5deg);
  }
  100% {
    transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg);
  }
}
@keyframes cardUnflip {
  0% {
    transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg);
  }
  50% {
    transform: rotateX(5deg) rotateY(90deg) rotateZ(5deg);
  }
  100% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
}
@keyframes enterFromBottom {
  from {
    transform: translateY(10rem);
    opacity: 0;
  }
  to {
    transform: translateY(-10rem);
    opacity: 1;
  }
}
@keyframes enterFromBottomRegular {
  from {
    transform: translateY(20rem);
    opacity: 0;
  }
  to {
    transform: translateY(0rem);
    opacity: 1;
  }
}
@keyframes enterFromTop {
  from {
    transform: translateY(-8rem);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes menu-open {
  from {
    transform-origin: top;
    transform: rotateX(-90deg);
    opacity: 0;
  }
  to {
    transform-origin: top;
    transform: rotateX(0);
    opacity: 1;
  }
}
@keyframes menu-close {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(10rem);
    opacity: 0;
  }
}
@keyframes modalUnderlayActive {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes modalUnderlayClosed {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes modalCardIn {
  from {
    transform-origin: left;
    transform: rotate3d(1, 1, 1, -30deg) scale(1.4);
  }
  to {
    transform-origin: left;
    transform: rotate3d(1, 1, 1, 0deg) scale(1);
  }
}
@keyframes modalCardOut {
  from {
    transform-origin: left;
    transform: rotate3d(1, 1, 1, 0deg) scale(1);
  }
  to {
    transform-origin: left;
    transform: rotate3d(1, 1, 1, 30deg) scale(0.6);
  }
}
:root {
  font-size: 10px;
  font-family: "Inter", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #1f1f1f;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: #fff;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100;
  src: url("../../assets/fonts/Inter-Thin.ttf");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 200;
  src: url("../../assets/fonts/Inter-ExtraLight.ttf");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  src: url("../../assets/fonts/Inter-Light.ttf");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../../assets/fonts/Inter-Regular.ttf");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: url("../../assets/fonts/Inter-Medium.ttf");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: url("../../assets/fonts/Inter-SemiBold.ttf");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../../assets/fonts/Inter-Bold.ttf");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  src: url("../../assets/fonts/Inter-ExtraBold.ttf");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../../assets/fonts/Inter-Black.ttf");
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 0;
  padding: 1.6rem 4rem;
  border: none;
  border-radius: 1rem;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.2rem;
  color: #fff;
  cursor: pointer;
  transition: background-color 150ms ease-in;
}
@media only screen and (max-width: 799px) {
  .button:not(.fixed-size) {
    padding: 1.2rem 3rem;
    border-radius: 0.8rem;
    font-size: 1.4rem;
    line-height: 1.8rem;
  }
}
@media only screen and (max-width: 479px) {
  .button:not(.fixed-size) {
    padding: 0.8rem 2.4rem;
    border-radius: 0.6rem;
    font-size: 1.2rem;
    line-height: 1.4rem;
  }
}
.button.button--small {
  padding: 1.4rem 3rem;
}
.button.button--big {
  padding: 1.6rem 5rem;
}

.button--primary {
  background-color: #2E4FFF;
}
.button--primary::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: 1rem;
  opacity: 0;
  background-color: #4d69ff;
}
.button--primary:hover {
  background-color: #4d69ff;
}
.button--primary:hover::before {
  animation: pulse 1500ms ease-out infinite;
}

.button--transparent {
  border: 2px solid rgba(255, 255, 255, 0.4);
}
.button--transparent:hover {
  background-color: rgba(5, 5, 5, 0.6);
}

.container {
  max-width: 168rem;
  margin: auto;
  box-shadow: 0 0 2.4rem rgba(5, 5, 5, 0.6);
}

.header {
  width: 100%;
  height: 8rem;
  background-color: #050505;
}

.navigation {
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0 15rem;
}
@media only screen and (max-width: 1179px) {
  .navigation {
    margin: 0 5rem;
  }
}
@media only screen and (max-width: 479px) {
  .navigation {
    margin: 0 2rem;
  }
}
@media only screen and (max-width: 979px) {
  .navigation .button {
    display: none;
  }
}

.navigation__menu {
  margin: 0 2.3rem 0 auto;
}

@media only screen and (max-width: 979px) {
  .navigation__wrapper {
    position: absolute;
    top: 9rem;
    left: 50%;
    z-index: 1;
    display: block;
    width: 36rem;
    margin: 0;
    pointer-events: none;
    perspective: 100rem;
    transform: translateX(-50%);
  }
}
@media only screen and (max-width: 479px) {
  .navigation__wrapper {
    width: calc(100% - 4rem);
  }
}
@media only screen and (max-width: 979px) {
  .navigation__wrapper.active {
    opacity: 1;
    pointer-events: all;
  }
}
.navigation__wrapper.active .navigation__list {
  animation: menu-open 500ms cubic-bezier(0.51, 0.42, 0.44, 1.71) forwards;
}
@media only screen and (max-width: 979px) {
  .navigation__wrapper.closed .navigation__list {
    animation: menu-close 200ms ease-out forwards;
  }
}

.navigation__list {
  display: flex;
}
@media only screen and (max-width: 979px) {
  .navigation__list {
    display: block;
    width: 100%;
    padding: 2rem;
    border-radius: 1rem;
    background-color: #050505;
    box-shadow: 0 0 1.4rem rgba(5, 5, 5, 0.6);
    opacity: 0;
  }
}

.navigation-list__item {
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  font-size: 1.8rem;
  line-height: 2.2rem;
  color: #fff;
  text-align: center;
  list-style: none;
  cursor: pointer;
  transition: background-color 150ms ease-in;
}
@media only screen and (max-width: 979px) {
  .navigation-list__item {
    margin: 1rem 0;
  }
}
.navigation-list__item:not(:last-child) {
  margin-right: 0.8rem;
}
.navigation-list__item:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.navigation-list__item a {
  text-decoration: none;
  text-shadow: 0 0 0.4rem #050505;
}

.logo {
  display: flex;
  align-items: center;
}

.logo__title {
  margin-left: 1.5rem;
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 2.9rem;
  color: #fff;
}

.navigation-menu__button {
  display: none;
  width: 4rem;
  height: 2.8rem;
  position: relative;
  transform: rotate(0deg);
  transition: 500ms ease-in-out;
  cursor: pointer;
}
@media only screen and (max-width: 979px) {
  .navigation-menu__button {
    display: block;
  }
}
.navigation-menu__button span {
  display: block;
  position: absolute;
  height: 0.4rem;
  width: 100%;
  background: #fff;
  border-radius: 0.2rem;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 250ms ease-in-out;
}
.navigation-menu__button span:nth-child(1) {
  top: 0;
  transform-origin: left center;
}
.navigation-menu__button span:nth-child(2) {
  top: 1.2rem;
  transform-origin: left center;
}
.navigation-menu__button span:nth-child(3) {
  top: 2.4rem;
  transform-origin: left center;
}
.navigation-menu__button.active span:nth-child(1) {
  transform: rotate(45deg);
  top: -0.2rem;
  left: 0.6rem;
}
.navigation-menu__button.active span:nth-child(2) {
  width: 0%;
  opacity: 0;
}
.navigation-menu__button.active span:nth-child(3) {
  transform: rotate(-45deg);
  top: 2.6rem;
  left: 0.5rem;
}

.hero {
  height: 70rem;
  overflow: hidden;
  background-image: url(../../assets/images/hero.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media only screen and (max-width: 479px) {
  .hero {
    height: 57rem;
  }
}

.hero__content {
  margin: 18.5rem 15rem;
}
@media only screen and (max-width: 1379px) {
  .hero__content {
    margin: 18.5rem 5rem;
    text-align: center;
  }
}
@media only screen and (max-width: 479px) {
  .hero__content {
    margin: 12rem 2rem;
  }
}

.hero-content__tagline {
  margin-bottom: 2rem;
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 2.9rem;
  color: #FF005C;
  transform: translateY(2rem);
  opacity: 0;
  animation: textInBottom 300ms ease-in 300ms forwards;
}
@media only screen and (max-width: 799px) {
  .hero-content__tagline {
    font-size: 2rem;
  }
}

.hero-content__title {
  margin-bottom: 4.4rem;
  font-weight: 300;
  font-size: 6rem;
  line-height: 7.3rem;
  color: #fff;
  animation: textInLeft 600ms ease-in forwards;
}
@media only screen and (max-width: 799px) {
  .hero-content__title {
    font-size: 4rem;
    line-height: 4.8rem;
  }
}

.hero-content__buttons {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}
@media only screen and (max-width: 1379px) {
  .hero-content__buttons {
    justify-content: center;
  }
}
@media only screen and (max-width: 479px) {
  .hero-content__buttons {
    gap: 1rem;
  }
}
.hero-content__buttons .button:first-child {
  transform: translateY(2rem);
  opacity: 0;
  animation: textInBottom 500ms cubic-bezier(0.51, 0.42, 0.44, 1.71) 600ms forwards;
}
.hero-content__buttons .button:last-child {
  transform: translateY(2rem);
  opacity: 0;
  animation: textInBottom 500ms cubic-bezier(0.51, 0.42, 0.44, 1.71) 900ms forwards;
}
.hero-content__buttons.no-gap {
  margin-left: -1rem;
}
.hero-content__buttons.no-gap .button {
  margin: 1rem;
}

.programs {
  height: 104.2rem;
  padding-bottom: 10rem;
  background: linear-gradient(102.68deg, #112ec5 -0.28%, #d92057 126.51%);
}
@media only screen and (max-width: 1679px) {
  .programs {
    height: auto;
  }
}
@media only screen and (max-width: 1179px) {
  .programs {
    padding-bottom: 6rem;
  }
}

.programs__group {
  display: flex;
  justify-content: center;
  gap: 6rem;
  flex-wrap: wrap;
  margin: 0 15rem 2rem;
}
@media only screen and (max-width: 1379px) {
  .programs__group {
    margin: 0 5rem 2rem;
  }
}
@media only screen and (max-width: 479px) {
  .programs__group {
    gap: 3rem;
    margin: 0 2rem 2rem;
  }
}
.programs__group.no-gap {
  margin: 0 13rem 2rem;
}
.programs__group.no-gap .programs__card {
  margin: 2rem;
}
@media only screen and (max-width: 1379px) {
  .programs__group.no-gap {
    margin: 0 3rem 2rem;
  }
}
@media only screen and (max-width: 479px) {
  .programs__group.no-gap {
    margin: 0 0 2rem;
  }
}

.programs__card {
  position: relative;
  background-color: transparent;
  width: 42rem;
  height: 50rem;
  perspective: 100rem;
  opacity: 0;
  transform: translateY(10rem);
}
@media only screen and (max-width: 1679px) {
  .programs__card {
    width: 32rem;
    height: 38rem;
  }
}
@media only screen and (max-width: 479px) {
  .programs__card {
    width: 28rem;
    height: 33rem;
  }
}
.programs__card.animate:nth-child(1) {
  animation: enterFromBottom 500ms cubic-bezier(0.51, 0.42, 0.44, 1.71) forwards;
}
.programs__card.animate:nth-child(2) {
  animation: enterFromBottom 500ms cubic-bezier(0.51, 0.42, 0.44, 1.71) 300ms forwards;
}
.programs__card.animate:nth-child(3) {
  animation: enterFromBottom 500ms cubic-bezier(0.51, 0.42, 0.44, 1.71) 600ms forwards;
}

.programs-card__inner {
  position: relative;
  width: 42rem;
  height: 50rem;
  border-radius: 1.6rem 1.6rem 8.8rem 1.6rem;
  transform-style: preserve-3d;
  box-shadow: 0 1.2rem 3.6rem rgba(0, 0, 0, 0.25);
}
@media only screen and (max-width: 1679px) {
  .programs-card__inner {
    width: 32rem;
    height: 38rem;
    border-radius: 1.6rem 1.6rem 6.8rem 1.6rem;
  }
}
@media only screen and (max-width: 479px) {
  .programs-card__inner {
    width: 28rem;
    height: 33rem;
    border-radius: 1.6rem 1.6rem 5.6rem 1.6rem;
  }
}
.programs-card__inner.flipped {
  animation: cardFlip 300ms ease-in forwards;
}
.programs-card__inner.unflipped {
  animation: cardUnflip 300ms ease-in forwards;
}

.programs-card__inner--front,
.programs-card__inner--back {
  position: absolute;
  width: 42rem;
  height: 50rem;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
@media only screen and (max-width: 1679px) {
  .programs-card__inner--front,
.programs-card__inner--back {
    width: 32rem;
    height: 38rem;
  }
}
@media only screen and (max-width: 479px) {
  .programs-card__inner--front,
.programs-card__inner--back {
    width: 28rem;
    height: 33rem;
  }
}

.programs-card__inner--front {
  border-radius: 1.6rem 1.6rem 0 1.6rem;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 88% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 90%, 88% 100%, 0 100%);
  overflow: hidden;
}

.programs-card__photo {
  position: relative;
  z-index: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  transition: transform 150ms ease-in;
}
.programs-card__photo:hover {
  transform: scale(1.1);
}

.programs-card-text__front {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  padding: 3rem;
  background: linear-gradient(0deg, rgba(22, 26, 37, 0.6) 0%, rgba(22, 26, 37, 0) 50%);
  pointer-events: none;
}
.programs-card-text__front h2 {
  margin-bottom: 0.9rem;
  font-weight: 500;
  font-size: 2.8rem;
  line-height: 3.4rem;
  color: #fff;
}
@media only screen and (max-width: 479px) {
  .programs-card-text__front h2 {
    font-size: 2.4rem;
  }
}
.programs-card-text__front p {
  font-size: 1.8rem;
  line-height: 2.2rem;
  color: #FFC700;
}

.programs-card__inner--back {
  border-radius: 1.6rem 1.6rem 1.6rem 0;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 12% 100%, 0 90%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 12% 100%, 0 90%);
  padding: 3rem;
  background-color: #fff;
  transform: rotateY(180deg);
}
.programs-card__inner--back h2 {
  margin-bottom: 2.5rem;
  font-weight: 500;
  font-size: 2.8rem;
  line-height: 3.4rem;
  color: #050505;
}
@media only screen and (max-width: 1679px) {
  .programs-card__inner--back h2 {
    margin-bottom: 1rem;
  }
}
@media only screen and (max-width: 479px) {
  .programs-card__inner--back h2 {
    font-size: 2.4rem;
  }
}
.programs-card__inner--back p {
  font-size: 1.8rem;
  line-height: 150%;
  color: #050505;
  box-shadow: inset 0 -0.1rem 0 rgba(0, 0, 0, 0.1);
}
@media only screen and (max-width: 1679px) {
  .programs-card__inner--back p {
    font-size: 1.6rem;
  }
}

@media only screen and (max-width: 1679px) {
  .programs-card-text__back-wrapper {
    height: 26.6rem;
    overflow-y: auto;
    padding-right: 2rem;
  }
}
@media only screen and (max-width: 479px) {
  .programs-card-text__back-wrapper {
    height: 23rem;
    overflow-y: auto;
  }
}

.programs-card-text__back--description {
  padding: 1.1rem 0 1.7rem;
}

.programs-card-text__back--feature {
  display: flex;
  justify-content: space-between;
  padding: 1.1rem 0;
}
.programs-card-text__back--feature span:last-child {
  font-weight: 500;
}

.programs-card__info,
.programs-card__close {
  position: absolute;
  z-index: 2;
  top: 2rem;
  right: 2rem;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 150ms ease-in;
}
.programs-card__info:hover,
.programs-card__close:hover {
  transform: scale(1.2);
}

.programs__testimonial {
  max-width: 96rem;
  margin: 0 auto 4rem;
  font-weight: 300;
  font-size: 4rem;
  line-height: 150%;
  text-align: center;
  color: #fff;
  opacity: 0;
  transform: translateY(-8rem);
}
@media only screen and (max-width: 1179px) {
  .programs__testimonial {
    margin: 0 5rem 4rem;
    font-size: 3rem;
  }
}
@media only screen and (max-width: 479px) {
  .programs__testimonial {
    margin: 0 2rem 4rem;
    font-size: 2.4rem;
  }
}
.programs__testimonial.animate {
  animation: enterFromTop 500ms cubic-bezier(0.51, 0.42, 0.44, 1.71) forwards;
}

.programs__user {
  opacity: 0;
}
.programs__user.animate {
  animation: fadeIn 500ms ease-in 500ms forwards;
}

.programs__user-photo {
  display: block;
  width: 6.4rem;
  height: 6.4rem;
  margin: 0 auto 1rem;
  border-radius: 50%;
  object-fit: cover;
}

.programs__user-name,
.programs__user-location {
  font-size: 1.6rem;
  line-height: 150%;
  text-align: center;
}

.programs__user-name {
  font-weight: 500;
  color: #fff;
}

.programs__user-location {
  color: rgba(255, 255, 255, 0.6);
}

.playlists {
  overflow: hidden;
  background-color: #fff;
}

.playlists__title {
  margin: 15rem 15rem 2rem;
  font-weight: 500;
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 2.9rem;
  color: #050505;
  opacity: 0;
}
@media only screen and (max-width: 1679px) {
  .playlists__title {
    margin: 15rem 5rem 4rem;
  }
}
@media only screen and (max-width: 1379px) {
  .playlists__title {
    text-align: center;
  }
}
@media only screen and (max-width: 479px) {
  .playlists__title {
    margin: 8rem 2rem 4rem;
  }
}
.playlists__title.animated {
  animation: textInLeft 300ms ease-in 300ms forwards;
}

.playlists__group {
  display: flex;
  justify-content: center;
  gap: 6rem;
  flex-wrap: wrap;
  margin: 0 5rem 15rem;
}
@media only screen and (max-width: 1379px) {
  .playlists__group {
    gap: 3rem;
  }
}
.playlists__group.no-gap {
  margin: 0 13rem 15rem;
}
.playlists__group.no-gap .playlists__card {
  margin: 2rem;
}

.playlists__card {
  opacity: 0;
}
@media only screen and (max-width: 1379px) {
  .playlists__card {
    margin-bottom: 2rem;
  }
}
.playlists__card.animate:nth-child(1) {
  animation: enterFromBottomRegular 500ms cubic-bezier(0.51, 0.42, 0.44, 1.71) forwards;
}
.playlists__card.animate:nth-child(1) .playlists-card__title {
  animation: textInLeft 300ms ease-in 300ms forwards;
}
.playlists__card.animate:nth-child(1) .playlists-card__note {
  animation: fadeIn 500ms ease-in 900ms forwards;
}
.playlists__card.animate:nth-child(2) {
  animation: enterFromBottomRegular 500ms cubic-bezier(0.51, 0.42, 0.44, 1.71) 300ms forwards;
}
.playlists__card.animate:nth-child(2) .playlists-card__title {
  animation: textInLeft 300ms ease-in 600ms forwards;
}
.playlists__card.animate:nth-child(2) .playlists-card__note {
  animation: fadeIn 500ms ease-in 900ms forwards;
}
.playlists__card.animate:nth-child(3) {
  animation: enterFromBottomRegular 500ms cubic-bezier(0.51, 0.42, 0.44, 1.71) 600ms forwards;
}
.playlists__card.animate:nth-child(3) .playlists-card__title {
  animation: textInLeft 300ms ease-in 900ms forwards;
}
.playlists__card.animate:nth-child(3) .playlists-card__note {
  animation: fadeIn 500ms ease-in 900ms forwards;
}

.playlists-card__cover {
  position: relative;
  width: 42rem;
  height: 25rem;
  border-radius: 10% 90% 10% 90%/90% 10% 90% 10%;
  margin-bottom: 2rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  transition: all 150ms ease-in-out;
}
@media only screen and (max-width: 1379px) {
  .playlists-card__cover {
    width: 38rem;
    height: 22.6rem;
  }
}
@media only screen and (max-width: 479px) {
  .playlists-card__cover {
    width: 28rem;
    height: 16.7rem;
  }
}
.playlists-card__cover:hover {
  border-radius: 1rem;
  box-shadow: 0 1.2rem 3.6rem rgba(0, 0, 0, 0.25);
  transform: scale(1.05);
}

.playlists-card__cover--1 {
  background-image: url("../../assets/images/playlist-cover-1.png");
}

.playlists-card__cover--2 {
  background-image: url("../../assets/images/playlist-cover-2.png");
}

.playlists-card__cover--3 {
  background-image: url("../../assets/images/playlist-cover-3.png");
}

.playlists-card__title {
  margin-bottom: 1rem;
  font-weight: 500;
  font-weight: 500;
  font-size: 2.8rem;
  line-height: 3.4rem;
  text-align: center;
  color: #050505;
  opacity: 0;
}
@media only screen and (max-width: 479px) {
  .playlists-card__title {
    font-size: 2.4rem;
  }
}

.playlists-card__note {
  font-size: 1.8rem;
  line-height: 2.2rem;
  text-align: center;
  color: #2E4FFF;
  opacity: 0;
}

.start {
  height: 40rem;
  overflow: hidden;
  background-image: url(../../assets/images/start.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media only screen and (max-width: 799px) {
  .start {
    height: auto;
  }
}

.start__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 9.1rem auto;
  padding: 2rem;
}
.start__content .button {
  opacity: 0;
}
.start__content.animated .start__tagline {
  animation: textInLeft 600ms ease-in forwards;
}
.start__content.animated .start__title {
  animation: textInLeft 600ms ease-in 300ms forwards;
}
.start__content.animated .button {
  animation: textInBottom 500ms cubic-bezier(0.51, 0.42, 0.44, 1.71) 600ms forwards;
}

.start__tagline {
  margin-bottom: 2rem;
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 2.9rem;
  text-align: center;
  color: #ffc700;
  opacity: 0;
}
@media only screen and (max-width: 799px) {
  .start__tagline {
    font-size: 2rem;
  }
}

.start__title {
  margin-bottom: 4.1rem;
  font-weight: 300;
  font-size: 6rem;
  line-height: 7.3rem;
  text-align: center;
  color: #fff;
  opacity: 0;
}
@media only screen and (max-width: 799px) {
  .start__title {
    font-size: 4rem;
    line-height: 4.8rem;
  }
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10rem;
  padding: 0 2rem;
  background-color: #050505;
  font-size: 1.6rem;
  line-height: 1.9rem;
  text-align: center;
  color: #fff;
}

.modal {
  position: fixed;
  z-index: 12;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  perspective: 100rem;
  opacity: 0;
  pointer-events: none;
}
@media only screen and (max-height: 479px) {
  .modal {
    align-items: flex-start;
    overflow-y: auto;
  }
}
.modal.active {
  pointer-events: all;
  animation: modalUnderlayActive 300ms ease-in forwards;
}
.modal.active .modal__card {
  animation: modalCardIn 300ms ease-in forwards;
}
.modal.closed {
  pointer-events: none;
  animation: modalUnderlayClosed 300ms ease-out forwards;
}
.modal.closed .modal__card {
  animation: modalCardOut 300ms ease-in forwards;
}

.modal__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal__underlay {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(11, 10, 52, 0.7);
  -webkit-backdrop-filter: blur(2.4rem);
  backdrop-filter: blur(2.4rem);
  opacity: 0;
  pointer-events: none;
}
.modal__underlay.active {
  animation: modalUnderlayActive 300ms ease-in forwards;
}
.modal__underlay.closed {
  animation: modalUnderlayClosed 300ms ease-out forwards;
}

.modal__card {
  position: absolute;
  display: flex;
  width: 72rem;
  height: 40.3rem;
  border-radius: 1.6rem;
  overflow: hidden;
  background-color: #fff;
}
@media only screen and (max-width: 799px) {
  .modal__card {
    width: auto;
    height: auto;
    margin: 0 2rem;
  }
}
@media only screen and (max-height: 479px) {
  .modal__card {
    margin-top: 2rem;
  }
}

.modal__form {
  padding: 3rem;
  flex: 1;
}

.modal-form__title {
  margin-bottom: 3rem;
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 2.9rem;
  color: #050505;
}
@media only screen and (max-width: 479px) {
  .modal-form__title {
    font-size: 2rem;
  }
}

.modal-form__body {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.modal-form__body .button {
  align-self: center;
  width: 100%;
}

.modal-card__input-row {
  display: flex;
}
@media only screen and (max-width: 479px) {
  .modal-card__input-row {
    display: block;
  }
}
.modal-card__input-row .input-animated:first-child {
  width: 20rem;
  margin-right: 1.5rem;
}
@media only screen and (max-width: 479px) {
  .modal-card__input-row .input-animated:first-child {
    width: 100%;
  }
}
.modal-card__input-row .input-animated:last-child {
  width: 12rem;
}
@media only screen and (max-width: 479px) {
  .modal-card__input-row .input-animated:last-child {
    width: 100%;
  }
}

.modal__image {
  flex-shrink: 0;
  width: 32.5rem;
}
@media only screen and (max-width: 799px) {
  .modal__image {
    display: none;
  }
}
.modal__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@keyframes iconIn {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
.input-animated:not(.invalid).credit-card::before {
  content: url("../../assets/images/credit-card.svg");
  position: absolute;
  top: 1.6rem;
  right: 2rem;
  z-index: 1;
  animation: iconIn 150ms cubic-bezier(0.51, 0.42, 0.44, 1.71) forwards;
}
.input-animated:not(.invalid).credit-card .card-input {
  padding-right: 6rem;
}

.input-animated:not(.invalid).visa::before {
  content: url("../../assets/images/visa.svg");
  position: absolute;
  top: 1.6rem;
  right: 2rem;
  z-index: 1;
  animation: iconIn 150ms cubic-bezier(0.51, 0.42, 0.44, 1.71) forwards;
}
.input-animated:not(.invalid).visa .card-input {
  padding-right: 6rem;
}

.input-animated:not(.invalid).mastercard::before {
  content: url("../../assets/images/mastercard.svg");
  position: absolute;
  top: 1.6rem;
  right: 2rem;
  z-index: 1;
  animation: iconIn 150ms cubic-bezier(0.51, 0.42, 0.44, 1.71) forwards;
}
.input-animated:not(.invalid).mastercard .card-input {
  padding-right: 6rem;
}

.input-animated {
  position: relative;
  display: inline-block;
}
.input-animated input {
  position: relative;
  width: 100%;
  height: 5.6rem;
  margin-bottom: 2rem;
  padding: 1.8rem 2rem 1.9rem;
  border-radius: 1rem;
  border: 1px solid #c4c9da;
  outline: none;
  font-size: 1.6rem;
  line-height: 1.9rem;
  color: #050505;
  transition: all 150ms ease-in-out;
}
.input-animated input::-webkit-outer-spin-button, .input-animated input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.input-animated input[type=number] {
  -moz-appearance: textfield;
}
.input-animated.active input {
  border: 0.2rem solid #1955ef;
}
.input-animated.active .input-animated__placeholder {
  background: #fff;
  transform: scale(0.8) translateY(-3.2rem);
  color: #1955ef;
}
.input-animated.invalid input {
  border: 2px solid #EF194C;
}
.input-animated.invalid input.active {
  border: 2px solid #EF194C;
}
.input-animated.invalid .input-animated__placeholder {
  color: #EF194C;
}
.input-animated.invalid::after {
  content: url("../../assets/images/warning.svg");
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 1rem;
  background-color: #fff;
  animation: iconIn 150ms cubic-bezier(0.51, 0.42, 0.44, 1.71) forwards;
}

.input-animated__placeholder {
  position: absolute;
  top: 0;
  left: 2rem;
  display: flex;
  margin: 1.9rem 0;
  padding: 0 0.4rem;
  background: none;
  align-items: center;
  font-size: 1.6rem;
  line-height: 1.9rem;
  color: #868996;
  transform-origin: top left;
  pointer-events: none;
  transition: all 200ms;
}

/*# sourceMappingURL=main.css.map */
