.hero {
  height: 70rem;
  overflow: hidden;
  background-image: url(../../assets/images/hero.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @include media-max($max-xs) {
    height: 57rem;
  }
}

.hero__content {
  margin: 18.5rem 15rem;

  @include media-max($max-xl) {
    margin: 18.5rem 5rem;
    text-align: center;
  }

  @include media-max($max-xs) {
    margin: 12rem 2rem;
  }
}

.hero-content__tagline {
  margin-bottom: 2rem;
  @include heading-small;
  color: $tagline;
  transform: translateY(2rem);
  opacity: 0;
  animation: textInBottom 300ms ease-in 300ms forwards;

  @include media-max($max-s) {
    font-size: 2rem;
  }
}

.hero-content__title {
  margin-bottom: 4.4rem;
  @include heading-large;
  color: $white;
  animation: textInLeft 600ms ease-in forwards;

  @include media-max($max-s) {
    font-size: 4rem;
    line-height: 4.8rem;
  }
}

.hero-content__buttons {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;

  @include media-max($max-xl) {
    justify-content: center;
  }

  @include media-max($max-xs) {
    gap: 1rem;
  }

  .button {
    &:first-child {
      transform: translateY(2rem);
      opacity: 0;
      animation: textInBottom 500ms $bounce 600ms forwards;
    }

    &:last-child {
      transform: translateY(2rem);
      opacity: 0;
      animation: textInBottom 500ms $bounce 900ms forwards;
    }
  }

  &.no-gap {
    margin-left: -1rem;
    .button {
      margin: 1rem;
    }
  }
}
