.modal {
  position: fixed;
  z-index: 12;
  top: 0;
  left: 0;
  @include flex-center;
  width: 100%;
  height: 100%;
  perspective: 100rem;
  opacity: 0;
  pointer-events: none;

  @include media-max-height($max48) {
    align-items: flex-start;
    overflow-y: auto;
  }

  &.active {
    pointer-events: all;
    animation: modalUnderlayActive 300ms ease-in forwards;

    .modal__card {
      animation: modalCardIn 300ms ease-in forwards;
    }
  }

  &.closed {
    pointer-events: none;
    animation: modalUnderlayClosed 300ms ease-out forwards;

    .modal__card {
      animation: modalCardOut 300ms ease-in forwards;
    }
  }
}

.modal__overlay {
  @include absolute;
}

.modal__underlay {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(11, 10, 52, 0.7);
  -webkit-backdrop-filter: blur(2.4rem);
  backdrop-filter: blur(2.4rem);
  opacity: 0;
  pointer-events: none;

  &.active {
    animation: modalUnderlayActive 300ms ease-in forwards;
  }

  &.closed {
    animation: modalUnderlayClosed 300ms ease-out forwards;
  }
}

.modal__card {
  position: absolute;
  display: flex;
  width: 72rem;
  height: 40.3rem;
  border-radius: 1.6rem;
  overflow: hidden;
  background-color: $white;

  @include media-max($max80) {
    width: auto;
    height: auto;
    margin: 0 2rem;
  }

  @include media-max-height($max48) {
    margin-top: 2rem;
  }
}

.modal__form {
  padding: 3rem;
  flex: 1;
}

.modal-form__title {
  margin-bottom: 3rem;
  @include heading-small;
  color: $black;

  @include media-max($max48) {
    font-size: 2rem;
  }
}

.modal-form__body {
  display: flex;
  flex-direction: column;
  width: 100%;

  .button {
    align-self: center;
    width: 100%;
  }
}

.modal-card__input-row {
  display: flex;

  @include media-max($max48) {
    display: block;
  }

  .input-animated {
    &:first-child {
      width: 20rem;
      margin-right: 1.5rem;

      @include media-max($max48) {
        width: 100%;
      }
    }
  
    &:last-child {
      width: 12rem;

      @include media-max($max48) {
        width: 100%;
      }
    }
  }
}

.modal__image {
  flex-shrink: 0;
  width: 32.5rem;

  @include media-max($max80) {
    display: none;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
