.playlists {
  overflow: hidden;
  background-color: $white;
}

.playlists__title {
  margin: 15rem 15rem 2rem;
  font-weight: 500;
  @include heading-small;
  color: $black;
  opacity: 0;

  @include media-max($max-xxl) {
    margin: 15rem 5rem 4rem;
  }

  @include media-max($max-xl) {
    text-align: center;
  }

  @include media-max($max-xs) {
    margin: 8rem 2rem 4rem;
  }

  &.animated {
    animation: textInLeft 300ms ease-in 300ms forwards;
  }
}

.playlists__group {
  display: flex;
  justify-content: center;
  gap: 6rem;
  flex-wrap: wrap;
  margin: 0 5rem 15rem;

  @include media-max($max-xl) {
    gap: 3rem;
  }

  &.no-gap {
    margin: 0 13rem 15rem;

    .playlists__card {
      margin: 2rem;
    }
  }
}

.playlists__card {
  opacity: 0;

  @include media-max($max-xl) {
    margin-bottom: 2rem;
  }

  &.animate {
    &:nth-child(1) {
      animation: enterFromBottomRegular 500ms $bounce forwards;

      .playlists-card__title {
        animation: textInLeft 300ms ease-in 300ms forwards;
      }

      .playlists-card__note {
        animation: fadeIn 500ms ease-in 900ms forwards;
      }
    }

    &:nth-child(2) {
      animation: enterFromBottomRegular 500ms $bounce 300ms forwards;

      .playlists-card__title {
        animation: textInLeft 300ms ease-in 600ms forwards;
      }

      .playlists-card__note {
        animation: fadeIn 500ms ease-in 900ms forwards;
      }
    }

    &:nth-child(3) {
      animation: enterFromBottomRegular 500ms $bounce 600ms forwards;

      .playlists-card__title {
        animation: textInLeft 300ms ease-in 900ms forwards;
      }

      .playlists-card__note {
        animation: fadeIn 500ms ease-in 900ms forwards;
      }
    }
  }
}

.playlists-card__cover {
  position: relative;
  width: 42rem;
  height: 25rem;
  border-radius: 10% 90% 10% 90% / 90% 10% 90% 10%;
  margin-bottom: 2rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  transition: all 150ms ease-in-out;

  @include media-max($max-xl) {
    width: 38rem;
    height: 22.6rem;
  }

  @include media-max($max-xs) {
    width: 28rem;
    height: 16.7rem;
  }

  &:hover {
    border-radius: 1rem;
    box-shadow: 0 1.2rem 3.6rem rgba(0, 0, 0, 0.25);
    transform: scale(1.05);
  }
}

@each $number in (1, 2, 3) {
  .playlists-card__cover--#{$number} {
    background-image: url("../../assets/images/playlist-cover-#{$number}.png");
  }
}

.playlists-card__title {
  margin-bottom: 1rem;
  font-weight: 500;
  @include heading-medium;
  text-align: center;
  color: $black;
  opacity: 0;

  @include media-max($max-xs) {
    font-size: 2.4rem;
  }
}

.playlists-card__note {
  @include small-text;
  text-align: center;
  color: $button;
  opacity: 0;
}
