// Colors

$white: #fff;
$black: #050505;
$button: #2e4fff;
$tagline: #ff005c;
$highlight: #ffc700;
$input-border: #c4c9da;
$input-valid: #1955ef;
$input-invalid: #ef194c;
$input-placeholder: #868996;


// Easing

$bounce: cubic-bezier(.51,.42,.44,1.71);

// Break points

$max168: '1679px';
$max138: '1379px';
$max118: '1179px';
$max98: '979px';
$max80: '799px';
$max48: '479px';