:root {
  font-size: 10px;
  font-family: 'Inter', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// Fonts

$font-weights: (
  "Thin": 100,
  "ExtraLight": 200,
  "Light": 300,
  "Regular": 400,
  "Medium": 500,
  "SemiBold": 600,
  "Bold": 700,
  "ExtraBold": 800,
  "Black": 900
);

@each $name, $weight in $font-weights {
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: $weight;
    src: url('../../assets/fonts/Inter-#{$name}.ttf');
  }
}
