@keyframes textInBottom {
  from {
    transform: translateY(2rem);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes textInLeft {
  from {
    transform: translateX(-6rem);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.hero {
  height: 70rem;
  overflow: hidden;
  background-image: url(../../assets/images/hero.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @include media-max($max48) {
    height: 48rem;
  }
}

.hero__content {
  margin: 18.5rem 15rem;

  @include media-max($max138) {
    margin: 18.5rem 5rem;
  }

  @include media-max($max48) {
    margin: 10rem 2rem;
  }
}

.hero-content__tagline {
  margin-bottom: 2rem;
  @include heading-small;
  color: $tagline;
  transform: translateY(2rem);
  opacity: 0;
  animation: textInBottom 300ms ease-in 300ms forwards;

  @include media-max($max48) {
    margin-bottom: 1rem;
  }
}

.hero-content__title {
  margin-bottom: 4.4rem;
  @include heading-large;
  color: $white;
  animation: textInLeft 600ms ease-in forwards;

  @include media-max($max48) {
    margin-bottom: 2rem;
  }
}

.hero-content__buttons {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;

  @include media-max($max48) {
    gap: 1rem;
  }

  .button {
    &:first-child {
      transform: translateY(2rem);
      opacity: 0;
      animation: textInBottom 500ms $bounce 600ms forwards;
    }

    &:last-child {
      transform: translateY(2rem);
      opacity: 0;
      animation: textInBottom 500ms $bounce 900ms forwards;
    }
  }

  &.no-gap {
    margin-left: -1rem;
    .button {
      margin: 1rem;
    }
  }
}
