@mixin media-max($break) {
  @media only screen and (max-width: $break) {
    @content;
  }
}

@mixin heading-small {
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 2.9rem;

  @include media-max($max118) {
    font-size: 2rem;
    line-height: 2.4rem;
  }

  @include media-max($max80) {
    font-size: 1.6rem;
    line-height: 2rem;
  }
}

@mixin heading-medium {
  font-weight: 500;
  font-size: 2.8rem;
  line-height: 3.4rem;

  @include media-max($max168) {
    font-size: 2.4rem;
    line-height: 3rem;
  }
}

@mixin heading-large {
  font-weight: 300;
  font-size: 6rem;
  line-height: 7.3rem;

  @include media-max($max118) {
    font-size: 4rem;
    line-height: 6rem;
  }

  @include media-max($max80) {
    font-size: 3rem;
    line-height: 4rem;
  }
}

@mixin absolute {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
