@mixin media-max($break) {
  @media only screen and (max-width: $break) {
    @content;
  }
}

@mixin heading-small {
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 2.9rem;
}

@mixin heading-medium {
  font-weight: 500;
  font-size: 2.8rem;
  line-height: 3.4rem;
}

@mixin heading-large {
  font-weight: 300;
  font-size: 6rem;
  line-height: 7.3rem;
}

@mixin small-text {
  font-size: 1.8rem;
  line-height: 2.2rem;
}

@mixin absolute {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
