.playlists {
  background-color: $white;
}

.playlists__title {
  margin: 15rem 15rem 2rem;
  font-weight: 500;
  @include heading-small;
  color: $black;
  opacity: 0;

  @include media-max($max168) {
    margin: 15rem 5rem 4rem;
  }

  @include media-max($max138) {
    text-align: center;
  }

  @include media-max($max48) {
    margin: 8rem 2rem 4rem;
  }

  &.animated {
    animation: textInLeft 300ms ease-in 1800ms forwards;
  }
}

.playlists__group {
  display: flex;
  justify-content: center;
  gap: 6rem;
  flex-wrap: wrap;
  margin: 0 5rem 15rem;

  @include media-max($max138) {
    gap: 3rem;
  }

  &.no-gap {
    margin: 0 13rem 15rem;

    .playlists__card {
      margin: 2rem;
    }
  }
}

.playlists__card {
  opacity: 0;

  @include media-max($max138) {
    margin-bottom: 2rem;
  }

  &.animate {
    &:nth-child(1) {
      animation: enterFromBottomRegular 500ms $bounce forwards;

      .playlists-card__title {
        animation: textInLeft 300ms ease-in 500ms forwards;
      }

      .playlists-card__note {
        animation: fadeIn 500ms ease-in 1500ms forwards;
      }
    }

    &:nth-child(2) {
      animation: enterFromBottomRegular 500ms $bounce 500ms forwards;

      .playlists-card__title {
        animation: textInLeft 300ms ease-in 1000ms forwards;
      }

      .playlists-card__note {
        animation: fadeIn 500ms ease-in 1500ms forwards;
      }
    }

    &:nth-child(3) {
      animation: enterFromBottomRegular 500ms $bounce 1000ms forwards;

      .playlists-card__title {
        animation: textInLeft 300ms ease-in 1500ms forwards;
      }

      .playlists-card__note {
        animation: fadeIn 500ms ease-in 1500ms forwards;
      }
    }
  }
}

.playlists-card__cover {
  position: relative;
  width: 42rem;
  height: 25rem;
  margin-bottom: 2rem;

  @include media-max($max138) {
    width: 38rem;
    height: 22.6rem;
  }

  @include media-max($max48) {
    width: 28rem;
    height: 16.7rem;
  }

  .clipped,
  .animated {
    width: 42rem;
    height: 25rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @include media-max($max138) {
      width: 38rem;
      height: 22.6rem;
    }

    @include media-max($max48) {
      width: 28rem;
      height: 16.7rem;
    }
  }

  .clipped {
    -webkit-clip-path: path(
      "M290.045 249.3C223.236 248.1 150.127 245.699 114.022 243.499C57.8142 239.998 25.91 236.598 9.70783 232.397C-0.593546 229.797 0.00653394 231.097 0.00653394 210.493C0.00653394 155.184 4.60715 82.1717 10.6079 43.4652C14.8085 16.0606 19.6091 1.65818 24.9099 0.257943C28.0103 -0.542192 131.324 0.65801 173.43 1.95823C298.446 5.85889 382.257 12.76 410.161 21.5615C414.362 22.8617 418.362 24.6621 419.062 25.5622C420.062 26.7624 420.263 33.3635 419.662 56.7675C417.462 155.084 406.361 231.097 392.059 246.099L388.358 250L345.953 249.8C322.65 249.7 297.446 249.5 290.045 249.3Z"
    );
    clip-path: path(
      "M290.045 249.3C223.236 248.1 150.127 245.699 114.022 243.499C57.8142 239.998 25.91 236.598 9.70783 232.397C-0.593546 229.797 0.00653394 231.097 0.00653394 210.493C0.00653394 155.184 4.60715 82.1717 10.6079 43.4652C14.8085 16.0606 19.6091 1.65818 24.9099 0.257943C28.0103 -0.542192 131.324 0.65801 173.43 1.95823C298.446 5.85889 382.257 12.76 410.161 21.5615C414.362 22.8617 418.362 24.6621 419.062 25.5622C420.062 26.7624 420.263 33.3635 419.662 56.7675C417.462 155.084 406.361 231.097 392.059 246.099L388.358 250L345.953 249.8C322.65 249.7 297.446 249.5 290.045 249.3Z"
    );

    @include media-max($max138) {
      -webkit-clip-path: path(
        "M262.422 225.557C201.975 224.471 135.829 222.299 103.163 220.309C52.3081 217.141 23.4424 214.065 8.78328 210.264C-0.537018 207.912 0.00591167 209.088 0.00591167 190.446C0.00591167 140.405 4.16837 74.3458 9.59762 39.3257C13.3982 14.531 17.7416 1.50026 22.5375 0.233377C25.3427 -0.490555 118.817 0.595342 156.913 1.77173C270.023 5.3009 345.852 11.5448 371.098 19.508C374.899 20.6844 378.518 22.3133 379.151 23.1277C380.056 24.2136 380.238 30.186 379.694 51.3611C377.704 140.314 367.66 209.088 354.72 222.661L351.372 226.191L313.005 226.01C291.921 225.919 269.118 225.738 262.422 225.557Z"
      );
      clip-path: path(
        "M262.422 225.557C201.975 224.471 135.829 222.299 103.163 220.309C52.3081 217.141 23.4424 214.065 8.78328 210.264C-0.537018 207.912 0.00591167 209.088 0.00591167 190.446C0.00591167 140.405 4.16837 74.3458 9.59762 39.3257C13.3982 14.531 17.7416 1.50026 22.5375 0.233377C25.3427 -0.490555 118.817 0.595342 156.913 1.77173C270.023 5.3009 345.852 11.5448 371.098 19.508C374.899 20.6844 378.518 22.3133 379.151 23.1277C380.056 24.2136 380.238 30.186 379.694 51.3611C377.704 140.314 367.66 209.088 354.72 222.661L351.372 226.191L313.005 226.01C291.921 225.919 269.118 225.738 262.422 225.557Z"
      );
    }

    @include media-max($max48) {
      -webkit-clip-path: path(
        "M193.363 166.2C148.824 165.4 100.085 163.799 76.0147 162.333C38.5428 159.999 17.2733 157.732 6.47189 154.931C-0.395697 153.198 0.00435596 154.065 0.00435596 140.329C0.00435596 103.456 3.07143 54.7811 7.07193 28.9768C9.87233 10.7071 13.0727 1.10545 16.6066 0.171962C18.6735 -0.361462 87.5493 0.438673 115.62 1.30549C198.964 3.90593 254.838 8.50667 273.441 14.3743C276.241 15.2411 278.908 16.4414 279.375 17.0415C280.041 17.8416 280.175 22.2423 279.775 37.845C278.308 103.389 270.907 154.065 261.373 164.066L258.905 166.667L230.635 166.533C215.1 166.467 198.297 166.333 193.363 166.2Z"
      );
      clip-path: path(
        "M193.363 166.2C148.824 165.4 100.085 163.799 76.0147 162.333C38.5428 159.999 17.2733 157.732 6.47189 154.931C-0.395697 153.198 0.00435596 154.065 0.00435596 140.329C0.00435596 103.456 3.07143 54.7811 7.07193 28.9768C9.87233 10.7071 13.0727 1.10545 16.6066 0.171962C18.6735 -0.361462 87.5493 0.438673 115.62 1.30549C198.964 3.90593 254.838 8.50667 273.441 14.3743C276.241 15.2411 278.908 16.4414 279.375 17.0415C280.041 17.8416 280.175 22.2423 279.775 37.845C278.308 103.389 270.907 154.065 261.373 164.066L258.905 166.667L230.635 166.533C215.1 166.467 198.297 166.333 193.363 166.2Z"
      );
    }
  }

  .animated {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-clip-path: inset(3rem round 6rem);
    clip-path: inset(3rem round 6rem);
    transition: clip-path 150ms ease-in-out;

    &:hover {
      -webkit-clip-path: inset(0 round 1rem);
      clip-path: inset(0 round 1rem);
    }
  }
}

@each $number in (1, 2, 3) {
  .playlists-card__cover--#{$number} {
    .clipped,
    .animated {
      background-image: url("../../assets/images/playlist-cover-#{$number}.png");
    }
  }
}

.playlists-card__title {
  margin-bottom: 1rem;
  font-weight: 500;
  @include heading-medium;
  text-align: center;
  color: $black;
  opacity: 0;

  @include media-max($max48) {
    font-size: 2.4rem
  }
}

.playlists-card__note {
  @include small-text;
  text-align: center;
  color: $button;
  opacity: 0;
}
