.programs {
  height: 104.2rem;
  padding-bottom: 10rem;
  background: linear-gradient(102.68deg, #112ec5 -0.28%, #d92057 126.51%);

  @include media-max($max168) {
    height: auto;
  }

  @include media-max($max118) {
    padding-bottom: 6rem;
  }
}

.programs__group {
  display: flex;
  justify-content: center;
  gap: 6rem;
  flex-wrap: wrap;
  margin: 0 15rem 2rem;

  @include media-max($max138) {
    margin: 0 5rem 2rem;
  }

  @include media-max($max48) {
    gap: 3rem;
    margin: 0 2rem 2rem;
  }

  &.no-gap {
    margin: 0 13rem 2rem;

    .programs__card {
      margin: 2rem;
    }

    @include media-max($max138) {
      margin: 0 3rem 2rem;
    }
  
    @include media-max($max48) {
      margin: 0 0 2rem;
    }
  }
}

.programs__card {
  position: relative;
  background-color: transparent;
  width: 42rem;
  height: 50rem;
  perspective: 100rem;
  opacity: 0;
  transform: translateY(10rem);

  @include media-max($max168) {
    width: 32rem;
    height: 38rem;
  }

  @include media-max($max48) {
    width: 28rem;
    height: 33rem;
  }

  &.animate {
    &:nth-child(1) {
      animation: enterFromBottom 500ms $bounce forwards;
    }

    &:nth-child(2) {
      animation: enterFromBottom 500ms $bounce 500ms forwards;
    }

    &:nth-child(3) {
      animation: enterFromBottom 500ms $bounce 1000ms forwards;
    }
  }
}

.programs-card__inner {
  position: relative;
  width: 42rem;
  height: 50rem;
  border-radius: 1.6rem 1.6rem 8.8rem 1.6rem;
  transform-style: preserve-3d;
  box-shadow: 0 1.2rem 3.6rem rgba(0, 0, 0, 0.25);

  @include media-max($max168) {
    width: 32rem;
    height: 38rem;
    border-radius: 1.6rem 1.6rem 6.8rem 1.6rem;
  }

  @include media-max($max48) {
    width: 28rem;
    height: 33rem;
    border-radius: 1.6rem 1.6rem 5.6rem 1.6rem;
  }

  &.flipped {
    animation: cardFlip 300ms ease-in forwards;
  }

  &.unflipped {
    animation: cardUnflip 300ms ease-in forwards;
  }
}

.programs-card__inner--front,
.programs-card__inner--back {
  position: absolute;
  width: 42rem;
  height: 50rem;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;

  @include media-max($max168) {
    width: 32rem;
    height: 38rem;
  }

  @include media-max($max48) {
    width: 28rem;
    height: 33rem;
  }
}

.programs-card__inner--front {
  border-radius: 1.6rem 1.6rem 0 1.6rem;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 88% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 90%, 88% 100%, 0 100%);
  overflow: hidden;
}

.programs-card__photo {
  position: relative;
  z-index: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 150ms ease-in;

  &:hover {
    transform: scale(1.2);
  }
}

.programs-card-text__front {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  @include absolute;
  z-index: 1;
  padding: 3rem;
  background: linear-gradient(
    0deg,
    rgba(22, 26, 37, 0.6) 0%,
    rgba(22, 26, 37, 0) 50%
  );
  pointer-events: none;

  h2 {
    margin-bottom: 0.9rem;
    @include heading-medium;
    color: $white;

    @include media-max($max48) {
      font-size: 2.4rem;
    }
  }

  p {
    @include small-text;
    color: $highlight;
  }
}

.programs-card__inner--back {
  border-radius: 1.6rem 1.6rem 1.6rem 0;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 12% 100%, 0 90%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 12% 100%, 0 90%);
  padding: 3rem;
  background-color: $white;
  transform: rotateY(180deg);

  h2 {
    margin-bottom: 2.5rem;
    @include heading-medium;
    color: $black;

    @include media-max($max168) {
      margin-bottom: 1rem;
    }

    @include media-max($max48) {
      font-size: 2.4rem;
    }
  }

  p {
    font-size: 1.8rem;
    line-height: 150%;
    color: $black;
    box-shadow: inset 0 -0.1rem 0 rgba(0, 0, 0, 0.1);

    @include media-max($max168) {
      font-size: 1.6rem;
    }
  }
}

.programs-card-text__back-wrapper {
  @include media-max($max168) {
    height: 26.6rem;
    overflow-y: auto;
    padding-right: 2rem;
  }

  @include media-max($max48) {
    height: 23rem;
    overflow-y: auto;
  }
}

.programs-card-text__back--description {
  padding: 1.1rem 0 1.7rem;
}

.programs-card-text__back--feature {
  display: flex;
  justify-content: space-between;
  padding: 1.1rem 0;

  span:last-child {
    font-weight: 500;
  }
}

.programs-card__info,
.programs-card__close {
  position: absolute;
  z-index: 2;
  top: 2rem;
  right: 2rem;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 150ms ease-in;

  &:hover {
    transform: scale(1.2);
  }
}

.programs__testimonial {
  max-width: 96rem;
  margin: 0 auto 4rem;
  font-weight: 300;
  font-size: 4rem;
  line-height: 150%;
  text-align: center;
  color: $white;
  opacity: 0;
  transform: translateY(-8rem);

  @include media-max($max118) {
    margin: 0 5rem 4rem;
    font-size: 3rem;
  }

  @include media-max($max48) {
    margin: 0 2rem 4rem;
    font-size: 2.4rem;
  }

  &.animate {
    animation: enterFromTop 500ms $bounce forwards;
  }
}

.programs__user {
  opacity: 0;

  &.animate {
    animation: fadeIn 500ms ease-in 500ms forwards;
  }
}

.programs__user-photo {
  display: block;
  width: 6.4rem;
  height: 6.4rem;
  margin: 0 auto 1rem;
  border-radius: 50%;
  object-fit: cover;
}

.programs__user-name,
.programs__user-location {
  font-size: 1.6rem;
  line-height: 150%;
  text-align: center;
}

.programs__user-name {
  font-weight: 500;
  color: $white;
}

.programs__user-location {
  color: rgba($white, 0.6);
}
