// Colors

$white: #fff;
$black: #050505;
$button: #2E4FFF;
$tagline: #FF005C;
$highlight: #FFC700;

// Easing

$bounce: cubic-bezier(.51,.42,.44,1.71);

// Break points

$max168: '1679px';
$max138: '1379px';
$max118: '1179px';
$max80: '799px';
$max48: '479px';